week3/terraform/.terraform/modules/modules.json
week3/terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/3.39.0/windows_amd64/terraform-provider-aws_v3.39.0_x5.exe
week3/terraform/.terraform.lock.hcl
week3/terraform/terraform.tfstate
.vscode/
week3/Testing/terraform-aws-webserver/examples/webserver/terraform.tfstate.backup
week3/Testing/terraform-aws-webserver/examples/webserver/terraform.tfstate
*.exe
week3/Testing/terraform-aws-webserver/examples/webserver/.terraform.lock.hcl
week6/Python-lambda-function/.serverless/cloudformation-template-create-stack.json
week6/Python-lambda-function/.serverless/cloudformation-template-update-stack.json
week6/Python-lambda-function/.serverless/python-lambda-function.zip
week6/Python-lambda-function/.serverless/serverless-state.json
